.icon {
	height: 1.5em;
	opacity: 0.5;
	width: 1.5em;
    	filter: brightness(0) saturate(100%);
}

.icon-column {
	text-align : center;
}

#contact {
	padding-left: 2%;
	/*text-align : center;*/
}

#contact > td{
	margin-left: 2%;
	/*text-align : center;*/
}


@media only screen and (max-width: 850px) {
    .icon {
        filter: none;   
    }

    #contact {
	padding-left: 2%;
	text-align : center;
    }
    
    
}

